<div class="mb-3">
  <button type="submit" class="btn btn-primary btn-inline"><a
      href="/dashboard/newpost"
      class="text-white"
    >Add Post</a></button>
</div>
{{#if posts.length}}
  <section>
    {{! <h2>Your Posts</h2> }}
    <ol class="pl-0">
      {{#each posts as |post|}}
        <article class="card mb-2">
          <div class="card-header flex-row justify-space-between">
            <h2>

              <a href="/dashboard/edit/{{post.id}}">{{title}}</a>
            </h2>
            <span class="text-right">
              Posted by
              {{user.name}}
              on
              {{format_date createdAt}}
            </span>
            {{!-- <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a> --}}
          </div>
          <div class="card-body">
            {{post.post_text}}
          </div>
        </article>

      {{/each}}
    </ol>
  </section>
{{else}}
  <h5 class="text-center"> Do not have any post.</h5>
{{/if}}